<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <title>아파트 평균 매매가 분석</title>
    <script>
        let factorData = "0";
        $(document).on("click", ".radioData", function (){
            factorData = $("input[name=factor]:checked").val();
            get_chart_data(factorData);
            $.ajax({
                url:"/map",
                type:"GET",
                data:{
                    types:factorData,
                    location:[]
                },
                success:function(data){
                    $('#map').html(data);
                }
            });
        });
        $(document).on('click','#전국',function(){
            if($('#전국').is(':checked')){
                $('input[name=location]').prop('checked',true);
            }else{
                $('input[name=location]').prop('checked',false);
            }
        });
        function changeF() {
            document.getElementById('tabA').className = 'ls selected';
            document.getElementById('tabB').className = 'ls';
            let factor = ['아파트평균가', '일자리대비', '병원수대비', '대중교통대비','학생수대비'];
            let sideMenuList = "<li class='nav-item'>" +
                "<input type='radio' class='radioData nav-link active' title="+factor[0]+" id="+factor[0]+" name='factor' checked value='0' />" +
                "<label for="+factor[0]+" >"+factor[0]+"</label></li>";
            for (let i=1; i<factor.length; i++){
                sideMenuList += "<li class='nav-item'>" +
                    "<input type='radio' class='radioData nav-link active' title="+factor[i]+" id="+factor[i]+" name='factor' value="+i+" />"+
                    "<label for="+factor[i]+" >"+factor[i]+"</label></li>";
            }
            $('#mList1').html(sideMenuList);

        }
        function changeL() {
            document.getElementById('tabA').className = 'ls';
            document.getElementById('tabB').className = 'ls selected';
            let location = ['전국','서울','인천','광주','대구','울산','대전','부산','세종','경기','강원','충남','충북','경북','경남','전북','전남','제주'];
            let sideMenuList = "<input type = 'button' class = 'btn btn-outline-primary mr-1 mb-2' value='검색' />" +
                "<li class='nav-item'>" +
                "<input type='checkbox' class='checkboxData nav-link active' title="+location[0]+" id="+location[0]+" name='checkAll' value='전국' checked />" +
                "<label for="+location[0]+" >"+location[0]+"</label></li>";
            for (let i=1; i<location.length; i++){
                sideMenuList += "<li class='nav-item'>" +
                    "<input type='checkbox' class='checkboxData nav-link active' title="+location[i]+" id="+location[i]+" name='location' value="+location[i]+" />" +
                    "<label for="+location[i]+" >"+location[i]+"</label></li>";
            }
            $('#mList1').html(sideMenuList);
        }
        function get_chart_data(types){
            $.ajax({
                url:"/chart",
                type:"GET",
                data:{
                    types:types,
                    location:[]
                },
                success:function(data){
                    print_chart(data.x, data.y, data.label);
                }
            });
        }

        function print_chart(labels, data, label){
            $('.chartjs-hidden-iframe').remove();
            let color = ['rgb(199,36,32)', 'rgb(32,143,65)', 'rgb(37,77,150)'];
            for(let i=0; i<3; i++){
                let chartName = 'myChart' + String(i+1);
                let tdName = 'chart-container-' + String(i+1);
                $('#'+chartName).remove();
                $('#'+tdName).append("<canvas id='"+chartName+"'></canvas>")
                let ctx = document.getElementById(chartName).getContext('2d');

                let cht = {
                    type:'line',
                    data:{
                        labels:labels,
                        datasets:[{
                            label:label[i],
                            backgroundColor:color[i],
                            fill:false,
                            borderColor:color[i],
                            lineTension:0.2,
                            data:data[i],
                        }]
                    },
                    options:{}
                }
                new Chart(ctx, cht);
            }
        }

    </script>
</head>

<body >
    <div style="width: 100%; position: relative;">
        {% include 'navbar.html' %}
    </div>

    <div id="all">
        <div id="sidebar" style="overflow: hidden;">
            {% include 'sidebar.html' %}
        </div>

        <div id="main">
            <div id="map">
            {{ map|safe }}
            </div>
            <div id="chart">
                <table class="chart">
                    <tr>
                        <td id="chart-container-1"><canvas id="myChart1"></canvas></td>
                    </tr>
                    <tr>
                        <td id="chart-container-2"><canvas id="myChart2"></canvas></td>
                    </tr>
                    <tr>
                        <td id="chart-container-3"><canvas id="myChart3"></canvas></td>
                    </tr>
                    <script>
                        let labels = {{ data.x|safe }};
                        let data = {{ data.y|safe }};
                        let label = {{ data.label|safe }};
                        let color = ['rgb(199,36,32)', 'rgb(32,143,65)', 'rgb(37,77,150)'];
                        for(let i=0; i<3; i++) {
                            let name = 'myChart' + String(i + 1);
                            let ctx = document.getElementById(name).getContext('2d');
                            let cht = {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: label[i],
                                        backgroundColor: color[i],
                                        fill: false,
                                        borderColor: color[i],
                                        lineTension: 0.2,
                                        data: data[i],
                                    }]
                                },
                                options: {}
                            }
                            new Chart(ctx, cht);
                        }
                    </script>
                </table>
            </div>
        </div>
    </div>





</body>
</html>