{#class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"#}
<nav id="sidebarMenu" >
    <div style="height: 100%; position: relative;">
        <div style="height: 10%; border-bottom: 1px solid #b7b7b7;" id="selectTabs">
            <span class="ls selected" id="tabA" style="border-right: 0.5px solid #b7b7b7;">
                <a href="javascript:void(0);" onclick="changeF()" class="a_ls" >
                    <strong>지표</strong>
                </a>
            </span>
            <span class="ls" id="tabB" style="border-left: 0.5px solid #b7b7b7;">
                <a href="javascript:void(0);" onclick="changeL()" class="b_ls">
                    <strong>지역</strong>
                </a>
            </span>
        </div>
        <div style="padding-top: 5px;">
            <ul class="nav flex-column" id="mList1">
                {% set factor = ['일자리대비', '병원수대비', '대중교통대비','사설학원수대비'] %}
                <li class="nav-item">
                    <input type='radio' class='radioData nav-link active' title={{ factor[0]|safe }} id={{ factor[0]|safe }} name="factor" checked value='0' />
                    <label for={{ factor[0]|safe }} >{{ factor[0]|safe }}</label>
                </li>
                {% for i in range(1, factor|length) %}
                <li class="nav-item">
                    <input type="radio" class="radioData nav-link active eachRadio" title={{ factor[i]|safe }} name="factor" id={{ factor[i]|safe }} value={{ i|string }} />
                    <label for={{ factor[i]|safe }} >{{ factor[i]|safe }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>